<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ingang.member.mapper.MemberMapper">

	<select id="login" resultType="com.ingang.member.vo.MemberVO">
		select id, m.email, m.gradeNo,m.status,
		g.gradeName, m.mento from member m,grade g where m.gradeNo
		= g.gradeNo and (id = #{id} and pw = #{pw})
	</select>

	<insert id="join">
		insert into
		member(id,pw,email,name,tel)values(#{id},#{pw},#{email},#{name},#{tel})
	</insert>

	<select id="userList" resultType="com.ingang.member.vo.MemberVO">
		select id, name, regdate, status, gradename
		from(
		select rownum rnum, id, name, regdate, status, gradename
		from(
		SELECT M.ID, M.NAME, M.REGDATE,
		M.STATUS, G.GRADENAME
		FROM MEMBER M, GRADE G
		where G.GRADENO = M.GRADENO
		<include refid="search" />


		)
		)
		where rnum between #{startRow} and #{endRow}
	</select>



	<select id="getTotalRow" resultType="Long">
		select count(*)
		from member
		<include refid="search2"></include>
	</select>

	<sql id="search">
		<if test="word !=null and word !=''.toString()">
			and (1 = 0
			<if test="key.indexOf('t'.toString()) >= 0">
				or id like '%' || #{word} || '%')
			</if>

		</if>
	</sql>
	<sql id="search2">
		<if test="word !=null and word !=''.toString()">
			where 1 = 0
			<if test="key.indexOf('t'.toString()) >= 0">
				or id like '%' || #{word} || '%'
			</if>

		</if>
	</sql>

	<select id="myMenu" resultType="com.ingang.member.vo.MemberVO">
		select name,gradeName
		from member m, grade g
		where m.gradeNo = g.gradeNo and id = #{id}
	</select>

	<select id="idCheck" parameterType="String" resultType="int">
		SELECT
		COUNT(id) FROM MEMBER WHERE id= #{id}
	</select>

	<select id="userView" resultType="com.ingang.member.vo.MemberVO">
		SELECT m.id, m.name, m.email, m.tel,
		m.regDate, m.mento, m.status, m.address, m.memberimg,
		g.gradeName
		from member m, grade g
		where g.gradeNo = m.gradeNo and id =
		#{id}
	</select>
	<insert id="tInsert">
		insert into tProposal(id) values(#{id})
	</insert>
	<insert id="mInsert">
		insert into mProposal(id) values(#{id})
	</insert>

	<update id="changeAd">
		update member set address = #{address} where id =
		#{id}
	</update>

	<select id="findPw" resultType="String">
		select pw from member where email
		= #{email}
	</select>

	<update id="changeGrade">
		update member set gradeNo = #{gradeNo} where id =
		#{id}
	</update>

	<select id="searchId" resultType="int">
		SELECT COUNT(id) FROM MEMBER
		WHERE id= #{id}
	</select>

	<insert id="joinKakao">
		insert into member(id,email,pw)values(#{id},#{email},#{pw})
	</insert>

	<select id="loginKakao"
		resultType="com.ingang.member.vo.MemberVO">
		select id, m.email, m.gradeNo, g.gradeName, m.mento,
		m.teacher, m.status from member m,grade g where m.gradeNo = g.gradeNo and (id =
		#{id} and email = #{email})
	</select>

	<update id="userDelete">
		update member set status = '탈퇴' where id
		= #{id} and pw = #{pw}
	</update>
	
	<update id="conlog">
		update member set condate = sysdate where id = #{id}
	</update>
	
	<update id="sleepUser">
		 <![CDATA[
    		UPDATE member SET status = '휴면' WHERE (conDate + 90 < sysdate)
  		]]>
	</update>
	
	<update id="changePw" >
			update member set pw = #{changePw} where pw = #{pw} and id = #{id} 
	</update>
	
	<update id="changeMP">
		update member set mento = '신청중' where id = #{id} 
	</update>
	
	<select id="mentoPList" resultType="com.ingang.member.vo.MemberVO">
		select m.id,a.field,a.cer_career from member m, m_apply a where m.id=a.id and m.mento = '신청중'
	</select>
	
	<update id="mentoApp">
		update member SET mento = 'O' where id = #{id}
	</update>
	
	<select id="teacherList" resultType="com.ingang.member.vo.MemberVO">
		select *
		from (
		    select *
		    from member
		    where mento='O'
		    order by DBMS_RANDOM.VALUE
		)
		where rownum between 1 and 2
	</select>
	
	
</mapper>