<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ingang.order.mapper.OrderMapper">

	<!-- 내 교재 구매 리스트 -->
	<select id="myList" resultType="com.ingang.order.vo.OrderVO">
	select ordNo, fileName, bookNo, price, bookDiv, id, bookName, name, oname, orderDate, arriveDate, dlvCondition, totalPrice, quantity, paymethod
	from(
	    select rownum rnum, ordNo, fileName, bookNo, price, bookDiv, id, bookName, name, oname, orderDate, arriveDate, dlvCondition, totalPrice, quantity, paymethod
	    from(
	        select row_number() over (partition by o.ordNo order by o.ordNo desc) dnum, o.ordNo, b.fileName,b.bookNo, b.price, b.bookDiv, m.id, m.name name, b.bookName, o.name oname, o.orderDate, o.arriveDate, o.dlvCondition, o.totalPrice, od.quantity, o.paymethod 
	        from ordertable o, member m, order_detail od, book b
	        where m.id = #{id} and o.ordNo = od.ordNo and m.id = o.id and od.bookNo = b.bookNo <include refid="search2" />
	        order by ordNo desc
	    )where dnum = 1
	)
	<!-- getTotalRow() 호출해서 pageObject.setTotRow()를 호출하지 않으면 계산이 안되서 데이터 못가져 옴 -->
	where rnum between #{pageObject.startRow} and #{pageObject.endRow}
	</select>
	
	<!-- 회원 getTotalRow -->
	<select id="getTotalRow" resultType="Long">
	select count(DISTINCT ordNo) from ordertable
	where id=#{id}
	</select>
	
	<!-- 관리자 주문 리스트 -->
	<select id="list" resultType="com.ingang.order.vo.OrderVO">
	select ordNo, fileName, bookNo, bookDiv, id, bookName, name, oname, orderDate, arriveDate, dlvCondition, totalPrice, quantity, paymethod
	from(
	    select rownum rnum, ordNo, fileName, bookNo, bookDiv, id, bookName, name, oname, orderDate, arriveDate, dlvCondition, totalPrice, quantity, paymethod
	    from(
	        select row_number() over (partition by o.ordNo order by o.ordNo desc) dnum, o.ordNo, b.fileName,b.bookNo, b.bookDiv, m.id, m.name name, b.bookName, o.name oname, o.orderDate, o.arriveDate, o.dlvCondition, o.totalPrice, od.quantity, o.paymethod
	        from ordertable o, member m, order_detail od, book b
	        where o.ordNo = od.ordNo and m.id = o.id and od.bookNo = b.bookNo <include refid="search" />
	        order by ordNo desc
	    )where dnum = 1
	)
	<!-- getTotalRow() 호출해서 pageObject.setTotRow()를 호출하지 않으면 계산이 안되서 데이터 못가져 옴 -->
	where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 관리자 getTotalRow -->
	<select id="getTotalRowAll" resultType="Long">
	select count(DISTINCT ordNo) from ordertable
	<include refid="search1" />
	</select>
	
	<sql id="search">
		<if test="word !=null and word !=''.toString()">
			and 1 = 0
			<if test="key.indexOf('t'.toString()) >= 0">
				or o.ordNo like '%' || #{word} || '%'
			</if>
			<if test="key.indexOf('c'.toString()) >= 0">
				or m.id like '%' || #{word} || '%'
			</if>
			<if test="key.indexOf('w'.toString()) >= 0">
				or o.dlvCondition like '%' || #{word} || '%'
			</if>
		</if>
	</sql>
	<sql id="search1">
		<if test="word !=null and word !=''.toString()">
			where 1 = 0
			<if test="key.indexOf('t'.toString()) >= 0">
				or ordNo like '%' || #{word} || '%'
			</if>
			<if test="key.indexOf('c'.toString()) >= 0">
				or id like '%' || #{word} || '%'
			</if>
			<if test="key.indexOf('w'.toString()) >= 0">
				or dlvCondition like '%' || #{word} || '%'
			</if>
		</if>
	</sql>
	<sql id="search2">
		<if test="pageObject.word !=null and pageObject.word !=''.toString()">
			and 1 = 0
			<if test="pageObject.key.indexOf('t'.toString()) >= 0">
				or o.ordNo like '%' || #{pageObject.word} || '%'
			</if>
			<if test="pageObject.key.indexOf('c'.toString()) >= 0">
				or m.id like '%' || #{pageObject.word} || '%'
			</if>
			<if test="pageObject.key.indexOf('w'.toString()) >= 0">
				or o.dlvCondition like '%' || #{pageObject.word} || '%'
			</if>
		</if>
	</sql>
	
	<!-- 회원&관리자 회원정보 상세보기 -->
	<select id="view" resultType="com.ingang.order.vo.OrderVO">
	 select o.ordNo, od.detailNo, od.quantity odquantity,b.quantity bquantity, b.fileName,b.bookNo, b.bookDiv, m.id, b.bookName, m.name name, o.name oname, o.dlvAdress, o.tel, o.orderDate, o.arriveDate, o.dlvCondition, o.totalPrice, b.price, o.paymethod
	 from ordertable o, member m, order_detail od, book b
	 where (o.ordNo = #{ordNo}) and(o.ordNo = od.ordNo) and (m.id = o.id) and (od.bookNo = b.bookNo) 
	</select>
	
	<!-- ordertable insert -->
	<insert id="buy">
	insert into ordertable (ordNo, id, dlvAdress, name, tel, totalPrice, paymethod)
	values(ordertable_seq.nextval,#{id}, #{dlvAdress}, #{name}, #{tel}, #{totalPrice}, #{payMethod})
	</insert>
	
	<!-- order_detail insert -->
	<insert id="buyDetail">
	insert into order_detail (detailNo, ordNo, quantity, bookNo)
	values(order_detail_seq.nextval, (select max(ordNo) from ordertable where id=#{id}),#{odquantity},#{bookNo})
	</insert>
	
	<!-- 배송상태 변경 -->
	<update id="update" >
	update ordertable set dlvCondition = #{dlvCondition}
	where ordNo = #{ordNo}
	</update>
	
	<!-- 교재 재고 주문수량만큼 차감변경 -->
	<update id="updateQ">
	update book set quantity = quantity - #{odquantity}
	where bookNo = #{bookNo}
	</update>
	
	<!-- 삭제 -->
	<delete id="delete">
	delete from ordertable
	where ordNo = #{ordNo} and dlvCondition = '배송완료'
	</delete>
</mapper>